.slider-wrapper, .grid-wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
}

ul.slider, ul.grid {
    padding: 0;
    margin: auto;
    list-style-type: none;
    display: flex;
    flex-flow: row;
    width: 100%;
    overflow: hidden;
}

ul.slider > li {
    flex: 1 0 100%;
    transition: margin 0.5s;
}

.hidden {
    visibility: collapse;
}

.slider-image {
    max-width: 100vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slider-control {
    position: absolute;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    width: 3em;
    height: 10%;
    min-height: 4em;
    top: 45%;
    color: white;
    text-align: center;
}

.slider-control.previous {
    left: 0;
}

.slider-control.next {
    right: 0;
}

ul.grid {
    flex-wrap: wrap;
    align-items: flex-start;
}

ul.grid > li {
    flex: 0 0 20%;
    min-width: 320px;
    position: relative;
}

.grid-image {
    width: 100%;
}

a.link-wrapper {
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
}

.grid-item-overlay {
    color: white;
    background-color: black;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.2em 1em;
    margin: 0;
}
