.header-container {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #2e2e2e;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.logo-container h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin: 0 0 0 10px;
    color: white;
}

.items-container {
    display: flex;
}

.search-input input {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 230px;
    color: white;
}

.search-input input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.search-input {
    margin-right: 20px;
}

.icon-shopping-cart {
    width: 30px;
    height: auto;
    color: white;
    margin-right: 10px;
}
