.Home-Content{
    display: flex;
}


.Home-Slider{
    height: 30em;
    background-color: #6d0b9d;
    color: white;
}
.Home-Categories{
    height: 15em;
    background-color: #0b569d;
    color: white;
}
.Home-FeaturedProducts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
.Home-ProductCard{
    display: flex;
    /* flex-wrap: wrap; */
    margin: 1em;
    height: 6em;
    width: 6em;
    border-radius: .5em;
    background-color: rgb(154, 154, 154);
    color: rgb(58, 58, 58);
    font-size: 3em;
    justify-content: center;
    align-items: center;
}